<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @operational_system.name %>
</p>

<%= link_to 'Edit', edit_operational_system_path(@operational_system) %> |
<%= link_to 'Back', operational_systems_path %>
